@import url(./global.css);
body{
    background-color: black;
    color: aliceblue;
    font-family: raleway;
    align-items: center;
    text-align: center;
}
.banner{
    height: 605px;
    background-image: url(../images/banner.png), linear-gradient(black,#33a9db31,black);
    border-bottom: 1px solid #33A8DB;

}
.banner-content{
    width: 510px;
    height: 393px;
    margin: auto;
    padding-top: 56px;
}
img[title="Logotipo Trilha de CSS DIO"]{
    object-position: center;
    margin-left: 104px;
    background-color: rgba(0,0,0,.2);
    border-radius: 50%;
    padding: 27px;
    
}
h1{
    font-size: 40px;
    font-weight: 900;
    line-height: 46.96px;
    color: transparent;
    text-align: center;
    margin-top: 15px;
    background-image: linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
}
p{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
    color: #FFFFFF;
    width: 520px;
    height: 46px;
    line-height: 23.48px;
    word-break:break-all;
}
button{
    width: 330px;
    height: 61px;
    margin-left: 90px;
    margin-top: 22px;


    border-image-source: linear-gradient(#3BA1CD, #1572B7);
    border-image-slice: 2;
    background-color:transparent;     
    border-image-width: 2px;

    font-weight: 900;
    font-size: 16px;
    line-height: 18.78px;
    text-align: center;
    color: #31A8DD;
    text-transform: uppercase;
    letter-spacing: 3.4px;
}
.text-degrade:hover{
    background:linear-gradient(to right,  #20A7F2, #6150D4, #F34C5D);
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

#transform-world {
    height: 560px;
    background-size: cover;
    background-image: url("../images/woman-code.png");
    background-attachment: fixed;
    border-top: 1px solid #33A8DB80;
    border-bottom: 1px solid #33A8DB80;
    padding: 200px;
  }
  
  #transform-world p {
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: lowercase;
    max-width: 250px;
    text-shadow: 3px 2px #33A8DB;
  }
  
  #professional-challenges {
    text-align: center;
    width: 800px;
  }

#professional-challenges img {
    margin: 32px 0;
  }

footer {
    padding: 60px 0;
    text-align: center;
    background-image: linear-gradient(#000, #041522);
    border-top: 1px solid #33A8DB;
  }
  
footer .dio-logo {
    width: 300px;
  }

footer a {
    color: #33A8DB;
    font-weight: bold;
    text-decoration: none;
  }